<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.epam.traing.gitcl"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.GitClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.ui.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="githubcloauth"
                    android:scheme="githubcl"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main">
        </activity>

        <activity
            android:name=".presentation.ui.PreferenceActivity"
            android:parentActivityName=".presentation.ui.MainActivity"
            android:theme="@style/AppBaseTheme.Preferences">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.AccountActivity">

        </activity>

        <activity android:name=".presentation.ui.CreateRepoActivity">

        </activity>
    </application>

</manifest>