<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epam.traing.gitcl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.GitClientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.ui.LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="githubcloauth"
                    android:scheme="githubcl" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".presentation.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main">

        </activity>

        <activity
            android:name=".presentation.ui.PreferenceActivity"
            android:parentActivityName=".presentation.ui.MainActivity"
            android:theme="@style/AppBaseTheme.Preferences">
            <intent-filter>
                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.AccountActivity">
            <intent-filter>
                <action android:name="com.epam.traing.gitcl.VIEW_ACCOUNT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.ui.CreateRepoActivity">

        </activity>
    </application>

</manifest>